; AxOS SDDM theme, based on https://github.com/uiriansan/SilentSDDM

[SddmGreeterTheme]
Name=AxOS
Type=sddm-theme
Description=AxOS SDDM theme, based on SilentSDDM
License=GPL-3.0-or-later
Version=1.3.0
Theme-Id=axos
Theme-API=2.0
MainScript=Main.qml
Screenshot=docs/previews/default.png
TranslationsDirectory=translations
QtVersion=6

ConfigFile=theme.conf